/vendor/
/node_modules/
/composer.lock
/.env

/etc/build/*
!/etc/build/.gitkeep

/tests/Application/yarn.lock

compose.override.yaml
/bin-docker/
/deploy/
/docker/
/etc

yarn-error.log

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/webpack-encore-bundle ###
/public/build/
npm-debug.log
###< symfony/webpack-encore-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
