includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    symfony:
        containerXmlPath: tests/Application/var/cache/dev/Tests_ThreeBRS_SyliusMailChimpPlugin_KernelDevDebugContainer.xml

    excludePaths:
        - 'tests/'

    ignoreErrors:
            - '#Trait ThreeBRS\\SyliusMailChimpPlugin\\Entity\\ChannelMailChimpSettingsTrait is used zero times and is not analysed#'
