includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    symfony:
        container_xml_path: tests/Application/var/cache/dev/Tests_Acme_SyliusExamplePlugin_Application_KernelDevDebugContainer.xml

    excludePaths:
        - 'tests/'

